h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: white;
    padding-inline-start: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar li{
    float:left
}